/* basic normalize CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.logo-container {
  height: 100px;
  width: 100%;
  /* background: white; */
}

nav {
  display: block;
  height: 50px;
}

nav ul {
  list-style-type: none;
  height: 100%;
  padding: 0;
  display: flex;
  background-color: #333;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

#content section {
  position: absolute;
  z-index: -1;
  top: -1000px;
  left: 0;
  overflow: hidden;
  padding: 20px;
}

#content section:target {
  height: max-content;
  width: 100%;
  background: tomato;
  animation: 0.5s forwards slideIn;
}

/* dummy animation for testing */

@keyframes slideIn {
  0% {
    top: -1000px;
    left: 0;
  }
  100% {
    top: 150px;
    left: 0px;
  }
}

/* in dev */
#content #products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#content #products .container {
  display: flex;
  flex-direction: column;
}
