/* basic normalize CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: white;
}

nav {
  display: block;
  height: 50px;
}

nav ul {
  list-style-type: none;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav ul li {
  margin: 0;
}

nav ul #menu-mobile {
  display: none;
}

nav ul #menu-mobile img {
  height: 40px;
  width: 40px;
  margin: 0.5rem;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

/* active link class for JavaScript */
.active {
  background-color: #111;
}

#content section {
  position: absolute;
  z-index: -1;
  top: -300px; /* pixelvalue should be replaced in production for more dynamic behaviour -> same in animation */
  left: 0;
  overflow: hidden;
  padding: 1rem;
}

#content section:target {
  height: max-content;
  width: 100%;
  background: tomato;
  animation: 0.5s forwards slideIn;
}

/* dummy animation for testing */

@keyframes slideIn {
  0% {
    top: -300px;
    left: 0;
  }
  100% {
    top: 150px;
    left: 0px;
  }
}

/* in dev */
#content #products {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#content #products .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content #products .container ul {
  font-weight: bold;
}

#content #products .container ul li {
  list-style: none;
  font-weight: 500;
}

/* Media Query */

@media (max-width: 550px) {
  nav ul li {
    display: none;
  }

  nav ul #menu-mobile {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
