/* basic normalize CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color value: 697ba4ff */

body {
  font-family: Arial, sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: white;
}

nav {
  display: block;
  height: 50px;
  background-color: #333;
}

nav .nav-items ul {
  list-style-type: none;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav .nav-items ul li {
  margin: 0;
}

nav .menu-container {
  display: flex;
}

nav .menu-container div {
  background-color: #697ba4;
  margin-right: 10px;
}

nav #toggle-options,
nav #toggle-items {
  display: none;
}

/* nav #toggle-options img,
nav #toggle-items img {
  height: 30px;
  width: 30px;
  margin: 10px;
} */

nav .nav-items ul li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav .nav-items ul li a:hover {
  background-color: #111;
}

/* active link class for JavaScript */
.active {
  background-color: #111;
}

.open {
  display: block;
}

.close {
  display: none;
}

#content section {
  position: absolute;
  z-index: -1;
  top: -300px; /* pixelvalue should be replaced in production for more dynamic behaviour -> same in animation */
  left: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 1rem;
}

#content section:target {
  height: max-content;
  width: 100%;
  background: tomato;
  animation: 0.5s forwards slideIn;
}

#content #products {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* dummy animation for testing */
@keyframes slideIn {
  0% {
    visibility: visible;
    top: -300px;
    left: 0;
  }
  100% {
    visibility: visible;
    top: 150px;
    left: 0px;
  }
}

.collapse {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.expand {
  max-height: 100px;
  overflow: hidden;
  transition: all 0.5s;
}

/* in dev */
#toggle-items {
  background-image: url(assets/toggle-nav-items-closed.svg);
  background-size: calc(50px - 30%);
  background-repeat: no-repeat;
  background-position: center;
}

#toggle-options {
  background-image: url(assets/toggle-all-options-closed.svg);
  background-size: calc(50px - 30%);
  background-repeat: no-repeat;
  background-position: center;
}
/* in dev */

#content #products .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content #products .container .toggle {
  color: #697ba4;
}

/* in dev */
.toggle-open {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.toggle-closed {
  transform: rotate(0deg);
  transition: all 0.3s;
}
/* in dev */

#content #products .container .toggle .icon-main,
#content #products .container ul .icon-secondary {
  display: none;
}

#content #products .container ul {
  font-weight: bold;
}

#content #products .container ul li {
  list-style: none;
  font-weight: 500;
}

/* Media Query */

@media (max-width: 550px) {
  nav .nav-items ul {
    flex-direction: column;
  }

  /* nav .nav-items ul li {
  } */

  nav .nav-items ul li a {
    padding: 5px;
    height: 20px;
    font-size: 1rem;
  }

  nav #toggle-options,
  nav #toggle-items {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* nav #toggle-options:hover img,
  nav #toggle-items:hover img {
    background: red;
  } */

  #content #products {
    grid-template-columns: 1fr;
  }

  #content #products .container {
    align-items: start;
  }

  #content #products .container .toggle .icon-main,
  #content #products .container ul .icon-secondary {
    display: inline-block;
  }
  #content #products .container .toggle .icon-main {
    height: 20px;
    width: 20px;
    color: blue;
  }

  #content #products .container ul .icon-secondary {
    height: 15px;
    width: 15px;
  }
}
